*.cache
**/*.cache

APTP_DB_flotting_project/bin/Debug/APTP_DB_flotting_project\.exe

APTP_DB_flotting_project/bin/Debug/

APTP_DB_flotting_project/obj/Debug/APTP_DB_flotting_project\.csproj\.FileListAbsolute\.txt

APTP_DB_flotting_project/obj/Debug/

\.vs/APTP_DB_flotting_project/v15/sqlite3/storage\.ide
